<div class="container">
    <h2>Lista de usuarios</h2>
    <p>Operaciones CRUD</p>            
    <form action="" id="busquedaForm">
      <input name="filterPost" placeholder="buscar..." type="text"  class="form-control" [(ngModel)]="filterPost"  >
    </form>
    &nbsp;&nbsp;
    &nbsp;&nbsp;
    <div class="row">
      <div class="col">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Id usuario</th>
              <th>Nombre usuario</th>
              <th>Rol usuario</th>
              <th>Activo</th>
              <th>Acciones</th>
            </tr>
          </thead>
          <tbody>
                <tr *ngFor="let Usuario of _usuarioList | filter:'nombre':filterPost">
    
                  <td>{{Usuario.id_Usuario}}</td> 
                  <td>{{Usuario.nombre}}</td>
                  <td>{{Usuario.id_Rol}}</td>
                  <td>{{Usuario.activo}}</td>
                 
              <td>
                <button type="button" class="btn btn-primary" (click)="goToViewUsuario(Usuario.id_Usuario)">Information</button>&nbsp;&nbsp;
                <!-- (click)="goToViewUsuario(Usuario.id_Usuario)" -->
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    
    &nbsp;&nbsp;
      <button type="button" class="btn btn-primary" (click)="goToAddUsuario()">Añadir nuevo usuario</button>
      &nbsp;&nbsp;
       &nbsp;&nbsp;
    </div>

