<p>addusuario works!</p>
<div class="container">
    <h2>Añadir usuario</h2>
    <form >
        <!-- #adduserform="ngForm"  -->
        <!-- (ngSubmit)="adduserformsubmit()" -->
        <!-- {{user|json}} -->
        <div class="form-group">
            <label for="nombre">Nombre:</label>
            <input type="text" class="form-control" required name="nombre">
            <!-- [(ngModel)]="usuario.nombre" -->
        </div>
        <div class="form-group">
            <label for="id_usuario">Id usuario</label>
            <input type="text" class="form-control" required name="id_Usuario">
            <!-- [(ngModel)] = "usuario.id_Usuario" -->
        </div>
        <div class="form-group">
            <label for="activo">Activo:</label>
            <input type="text" class="form-control" required name="activo">
            <!-- [(ngModel)]="usuario.activo" -->
        </div>
         <div class="form-group">
            <label for="id_Rol">Id rol:</label>
            <input type="text" class="form-control" required name="id_Rol">
            <!-- [(ngModel)]="usuario.id_Rol" -->
        </div>
        <button type="submit" class="btn btn-success">Submit</button>
        <button type="submit" class="btn btn-primary" >Back</button>
        <!-- (click)="gotolist()" -->

    </form>
</div>
